.portfolio{
    margin: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}

.portfolioTitle{
    font-size: 40px;
}

.portfolioGeneralImgesContainer{
    width: 80vw;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 50px;
    padding-left: 900px;
    border-radius: 10px;
    background-color: rgb(5, 5, 36);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.portfolioSingleImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgba(87, 92, 86, 0.548);
    position: relative;
}

.portfolioSingleImgText{
   border-radius: 10px;
   padding: 5px;
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   width: 100%;
   height: 100%;
   transition: 0.5s;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
   align-items: center;
}

.portfolioSingleImgText p{
    padding: 5px;
    border-radius: 15px;
    background-color: #fca311;
    border: 2px solid black;
    color: black;
}

.portfolioSingleImgText p i{
    color: black;
}

.portfolioSingleImgText p:hover{
    background-color: #df9216;
}

.portfolioSingleImgText p:active{
    background-color: #c98415;
}
.portfolioSingleImgText a{
    text-decoration: none;
}

.portfolioSingleImgContainer:hover .portfolioSingleImgText{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.692);
}

.portfolioSingleImgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
}

.backBtn ,
.nextBtn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 5, 36);
    position: absolute;
}

.backBtn {
    left: 40px;
    top: 200px;
    z-index: 5;
}

.nextBtn {
    right: 40px;
    top: 200px;
    z-index: 5;
}

.backBtn:hover i,
.nextBtn:hover i{

    color: rgb(5, 5, 36);
}

.backBtn:hover,
.nextBtn:hover{
    background-color: #fca311;
    color: rgb(5, 5, 36);
    cursor: pointer;
}

.backBtn:active,
.nextBtn:active{
    background-color: rgb(5, 5, 36);
}

.backBtn:active i,
.nextBtn:active i{
    color: #fca311;
}

.backBtn i,
.nextBtn i{
    font-size: 40px;
}

@media (min-width: 320px) and (max-width: 587px) {

    .portfolio{
        width: 100vw;
        margin:0;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
    }

    .portfolioTitle{
        font-size: 30px;
    }

    .portfolioGeneralImgesContainer{
        padding: 10px;
        width: 320px;
        gap: 20px;
        background-color: rgb(5, 5, 36);
    }

    .backBtn {
        left: 0px;
        top: 160px;
    }

    .nextBtn {
        right: 0px;
        top: 160px;
    }

    .backBtn i,
    .nextBtn i{
        font-size: 15px;
    }
}

@media (min-width: 588px) and (max-width: 980px) {

    .portfolio{
        margin: 0;
        margin-bottom: 60px;
    }

    .portfolioTitle{
        font-size: 30px;
    }

    .portfolioGeneralImgesContainer{
        padding: 10px;
        width: 500px;
    }

    .backBtn {
        left: 20px;
        top: 160px;
    }

    .nextBtn {
        right: 20px;
        top: 160px;
    }

    .backBtn i,
    .nextBtn i{
        font-size: 15px;
    }
}