.homeContainer{
  display: flex;    
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.664)),url("../../assets/img/Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(2, 2, 27); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: start; */
  /* align-items: center; */
  margin-bottom: 80px;
  /* font-family: 'Courier New', Courier, monospace; */
  /* filter: blur(10px); */
  /* opacity: 0; */
  /* transition: opacity 0.8s; */
}
/* .show{
  opacity: 1;
} */

.homeImgContainer{
  width: 250px;
  height: 250px;
  /* margin-bottom: 50px; */
  /* scroll-margin-top: 100vh;
  opacity:0;
  transition: opacity 0.5s;    */
  border-radius: 25%;
  overflow: hidden;
  margin-left: 10%;
  background-color: #cf8d23;
}
.homeImgContainer img{
  width: 100%;
  /* height: auto; */
}
.homeImgContainer {
  display: inline-block;
  animation: floatAnimation 4s ease-in-out infinite; /* 4 segundos de duración, aceleración suave, infinito */
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Posición en la mitad de la animación */
  }
}

.typeWriter{
  width: 500px;
  /* background-color: aqua; */
  margin-left: 40px;
  text-align: center;
}
.typeWriter h1 {
    /* margin-left: 40px; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #fca311; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /*  Adjust as needed */
    /*font-size: 65px;*/
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font: oblique bold 180% cursive;
    font-size: 30px;
    /* background-color: #9e6b19;  */
    animation: 
      typing 3s steps(100, end),
      blink-caret .50s step-end infinite;
} 
.typeWriter h1 span{
  color: rgb(243, 179, 42);
}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
  
/*The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(243, 179, 42);    
}}

.typeWriter p{
  /* background-color: green; */
  /* margin-left: 40px; */
  font-size: 25px;
  border-radius: 8px;
  padding: 5px;
  color: white;
  /* background-color: #000000; */
  text-align: justify;
}

.homeAnimation {
  animation-duration: 3s;
  animation-name: slidein;
}
      
@keyframes slidein {
  from {
    margin-bottom: 100%;
    /* width: 40vw */
  }
      
  to {
    margin-bottom: 0%;
    /* width: 40vw; */
  }
}

.downloadCV a{
  text-decoration: none;
}

.downloadCV{
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #fca311;
  /* border: 2px solid #fca311; */
  border-radius: 8px;
  width: 150px;
  height: 40px;
  overflow: hidden;
  position:fixed;
  z-index: 10;
  right: 10px;
  bottom: 20px;
  padding: 10px;
  /* box-shadow: 0 0 5px 1px black; */
  transition: 0.3s;
  cursor: pointer;
  animation: floatAnimation 4s ease-in-out infinite; /* 4 segundos de duración, aceleración suave, infinito */
}
.downloadCV i{
  color: rgb(2, 2, 27);
}

.downloadCV:hover{
  /* background-color: #cf8d23; */
  height: 70px;
  transition: 0.3s;
}

.downloadCV:active{
  background-color: #9e6b19;
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Posición en la mitad de la animación */
  }
}


@media (min-width: 320px) and (max-width: 587px) {

  .homeContainer{
    margin-bottom: 60px;
    height: 100vh;   
    /* align-items: center; */
  }

  .homeImgContainer{
    width: 180px;
    height: 200px;
    /* margin-left: 25%; */
  }
  .typeWriter{
    width: 250px;
  }
  .typeWriter h1{
    font-size: 15px;
  }

  .typeWriter p{
    font-size: 15px;
  }

  .downloadCV{
    width: 60px;
    height: 60px;
  }

  .downloadCV a{
    font-size: 10px;
  }
}

@media (min-width: 588px) and (max-width: 980px) {

  .homeImgContainer{
    width: 180px;
    height: 200px;
    /* margin-left: 25%; */
  }
  .typeWriter{
    width: 450px;
  }

  .typeWriter h1{
    font-size: 28px;
  }
  .typeWriter p{
    font-size: 20px;
  }

  .downloadCV{
    width: 80px;
    height: 80px;
  }

  .downloadCV a{
    font-size: 15px;
  }
}