*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    user-select: none;
    font-family: 'Exo 2', sans-serif;
}

.darkMode{
    background-color: rgb(20, 20, 20);
    color: rgb(105, 105, 105);
}