.aboutMeContainer{
    width: 90vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 5%;
    margin-bottom: 120px;
}

.imgContainer{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    scroll-margin-top: 100vh;
    opacity:0;
    transition: opacity 0.5s;   
}

.visible_imgContainer{
    animation: moveImage 2s alternate forwards;  
}

@keyframes moveImage {
    0%{
        transform: translateX(-700px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* 
@keyframes AboutMeInfoContainer_animation {
    0%{
        transform: scale(0.1);

    }
    20%{
        transform: scale(0.20);

    }
    40%{
        transform: scale(0.4);

    }
    60%{
        transform: scale(0.6);

    }
    80%{
        transform: scale(0.8);

    }
    100%{
        transform: translateX(1);

    }

} */

.imgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: moveImg;
}

.AboutMeInfoContainer{
    background-color: white;
    border: 5px solid #fca311;
    border-radius: 10px;
    padding: 40px;
}

.visible_AboutMeInfoContainer{
    animation: AboutMeInfoContainer_animation  2s alternate forwards;  
}

@keyframes AboutMeInfoContainer_animation {
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(01);
    }
} 

.aboutMeMessage {
    font-family: Poppins,sans-serif;
    text-align: justify;    
}

.aboutMeList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.aboutMeList li{
   display: flex;
   gap: 15px;
}

.aboutMeList li b{
    margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 587px) {
    .aboutMeContainer{
        margin-bottom: 60px;
    }
    .AboutMeInfoContainer{
        width: 85vw;
        padding: 10px;
    }
    .aboutMeList{
        justify-content: start;
    }
}

@media (min-width: 588px) and (max-width: 980px) {
    .aboutMeList{
        justify-content: start;
    }
}